<main class="m-5">
    <section class="row">
        <h4 class=" text-end">
            {{project}}
        </h4>
        <h4>{{list_name}}</h4>
        <div class="mt-4">
            <p>{{description}}</p>
        </div>
        {{#each buttons}}
        <div class="col-4 mt-2">
            <a href="{{link}}" class="btn btn-primary">{{text}}</a>
        </div>
        {{/each}}

    </section>



</main>