<div class="card col-4 m-2">
    <img src="{{img}}" alt="picsum">
    <div class="card-body">
        <div>
            {{#if isHot}}<div class="badge rounded-pill bg-warning">Hot</div>{{/if}}
        </div>
        <div>
            {{#if isNew}}<div class="badge rounded-pill bg-primary">New</div>{{/if}}
        </div>
        <div class="mt-2">
            {{#if isFast}}<div class="btn btn-success">Fast</div>{{/if}}
        </div>
        <div class="mt-2">
            {{#if isFree}}<div class="btn btn-secondary">Free</div>{{/if}}
        </div>
        <div>
            <p>{{name}}</p>
        </div>
        {{#with review}}
        <div>{{amount}} {{text}}</div>
        {{/with}}
        <p class="mt-2">{{price}}</p>
        <div>{{delivery}}:</div>
        {{#each buttons}}
        <a href="{{link}}"
            class=" mt-2 btn btn-primary{{#if isPrimary}}isPrimary{{/if}} btn btn-secondary{{#if isSecondary}}isSecondary{{/if}}">
            {{text}}
        </a>
        {{/each}}
        {{#each characteristics}}
        <div class="mt-3">{{title}}: {{value}}</div>
        {{/each}}
    </div>
</div>